POST http://localhost:3333/api/v1/users
Content-Type: application/json

{
	"name": "Lewis",
	"email": "lewis@mail.com",
	"password": "123456"
}
###
GET http://localhost:3333/api/v1/users/1
Content-Type: application/json